<p style="margin-bottom:0;">
ddddddddd<img src="./Blue_Discus.png" style="vertical-align:middle"/>
</p>

<table border="1">
	<tr>
		<td>
			<img src="./Tomato_Seeds.png" width="200px"/>
		</td>
		<td>
			рыбаааааааааааа<br>
			<center>dsf</center>
		</td>
	</tr>
</table>

